<div class="mb-5">
    <ngb-tabset>
        <ngb-tab title="Basic Info">
            <ng-template ngbTabContent>
                <form class="py-3" [formGroup]="employeeForm" (ngSubmit)="submitEmployeeForm(employeeForm.value)"
                      novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputId">Id</label>
                                <input disabled [formControl]="employeeForm.controls['id']" name="id" type="text"
                                       class="form-control" id="inputId" placeholder="ID">
                                <div *ngIf="employeeForm.controls['id'].errors && (employeeForm.controls['id'].dirty || employeeForm.controls['id'].touched)">
                                    <small *ngIf="employeeForm.controls['id'].errors.required"
                                           class="form-text text-danger">Id is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstName">First Name</label>
                                <input [formControl]="employeeForm.controls['firstName']" name="firstName" type="text"
                                       class="form-control" id="inputFirstName" placeholder="First Name">
                                <div *ngIf="employeeForm.controls['firstName'].errors && (employeeForm.controls['firstName'].dirty || employeeForm.controls['firstName'].touched)">
                                    <small *ngIf="employeeForm.controls['firstName'].errors.required"
                                           class="form-text text-danger">First Name is required.
                                    </small>
                                    <small *ngIf="employeeForm.controls['firstName'].errors.minlength"
                                           class="form-text text-danger">First Name must be 3 characters long.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName">Last Name</label>
                                <input [formControl]="employeeForm.controls['lastName']" name="lastName" type="text"
                                       class="form-control" id="inputLastName" placeholder="Last Name">
                                <div *ngIf="employeeForm.controls['lastName'].errors && (employeeForm.controls['lastName'].dirty || employeeForm.controls['lastName'].touched)">
                                    <small *ngIf="employeeForm.controls['lastName'].errors.required"
                                           class="form-text text-danger">Last Name is required.
                                    </small>
                                    <small *ngIf="employeeForm.controls['lastName'].errors.minlength"
                                           class="form-text text-danger">Last Name must be 3 characters long.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputTitle">Title</label>
                                <input [formControl]="employeeForm.controls['title']" name="title" type="text"
                                       class="form-control" id="inputTitle" placeholder="Title">
                                <div *ngIf="employeeForm.controls['title'].errors && (employeeForm.controls['title'].dirty || employeeForm.controls['title'].touched)">
                                    <small *ngIf="employeeForm.controls['title'].errors.required"
                                           class="form-text text-danger">Title is required.
                                    </small>
                                    <small *ngIf="employeeForm.controls['title'].errors.minlength"
                                           class="form-text text-danger">Title must be 3 characters long.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputDateOfBirth">Date Of Birth</label>
                                <input [formControl]="employeeForm.controls['dateOfBirth']" name="dateOfBirth"
                                       type="text"
                                       class="form-control" id="inputDateOfBirth" placeholder="yyyy-MM-dd"
                                       (keyup)="checkDateOfBirth(employeeForm.controls['dateOfBirth'].value)">
                                <div *ngIf="employeeForm.controls['dateOfBirth'].errors && (employeeForm.controls['dateOfBirth'].dirty || employeeForm.controls['dateOfBirth'].touched)">
                                    <small *ngIf="employeeForm.controls['dateOfBirth'].errors.required"
                                           class="form-text text-danger">Date Of Birth is required.
                                    </small>
                                </div>
                                <small *ngIf="dateOfBirthError && (employeeForm.controls['dateOfBirth'].dirty || employeeForm.controls['dateOfBirth'].touched)"
                                       class="form-text text-danger">Enter Valid Date.
                                </small>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button *ngIf="employeeForm.controls['id'].value == -1"
                                    [disabled]="!employeeForm.valid || dateOfBirthError" type="submit"
                                    class="btn btn-primary float-right">Create
                            </button>
                            <button *ngIf="employeeForm.controls['id'].value != -1"
                                    [disabled]="!employeeForm.valid || dateOfBirthError" type="submit"
                                    class="btn btn-primary float-right">Edit
                            </button>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Projects">
            <ng-template ngbTabContent>
                <div class="py-3">
                    <table class="table" *ngIf="employeeProjects">
                        <thead>
                            <tr>
                                <th *ngFor="let projectKey of employeeProjects | key">{{projectKey.formatted}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="hover_bg" *ngFor="let project of employeeProjects">
                                <td *ngFor="let projectKey of employeeProjects | key" [ngSwitch]="projectKey.key">
                                    <span *ngSwitchCase="'startDate'">
                                        {{project[projectKey.key] | date:'yyyy-MM-dd HH:mm'}}
                                    </span>
                                    <span *ngSwitchCase="'endDate'">
                                        {{project[projectKey.key] | date:'yyyy-MM-dd HH:mm'}}
                                    </span>
                                    <span *ngSwitchCase="'status'">
                                        {{project[projectKey.key] | uppercase}}
                                    </span>
                                    <span *ngSwitchDefault>
                                        {{project[projectKey.key]}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
<button (click)="newEmployee()" class="btn btn-info mb-2">New</button>
<table class="table" *ngIf="employees">
    <thead>
    <tr>
        <th *ngFor="let employeeKey of employees | key">
            <ng-container *ngIf="employeeKey.key != 'projets'">
                {{employeeKey.formatted}}
            </ng-container>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="pointer_cursor hover_bg" *ngFor="let employee of employees" (click)="editEmployee(employee)" [ngClass]="{'table-danger':employee.id == employeeForm.controls['id'].value}">
        <td *ngFor="let employeeKey of employees | key" [ngSwitch]="employeeKey.key">
      <span *ngSwitchCase="'dateOfBirth'">
          {{employee[employeeKey.key] | date:'yyyy-MM-dd'}}
      </span>
            <span *ngSwitchCase="'projets'"></span>
            <span *ngSwitchDefault>
          {{employee[employeeKey.key]}}
      </span>
        </td>
    </tr>
    </tbody>
</table>
