<div class="mb-5">
    <ngb-tabset>
        <ngb-tab title="Basic Info">
            <ng-template ngbTabContent>
                <form class="py-3" [formGroup]="projectForm" (ngSubmit)="submitProjectForm(projectForm.value)" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputId">Id</label>
                                <input disabled [formControl]="projectForm.controls['id']" name="id" type="text" class="form-control" id="inputId"  placeholder="ID">
                                <div *ngIf="projectForm.controls['id'].errors && (projectForm.controls['id'].dirty || projectForm.controls['id'].touched)">
                                    <small *ngIf="projectForm.controls['id'].errors.required" class="form-text text-danger">Id is required.</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName">Name</label>
                                <input [formControl]="projectForm.controls['name']" name="name" type="text" class="form-control" id="inputName" placeholder="Name">
                                <div *ngIf="projectForm.controls['name'].errors && (projectForm.controls['name'].dirty || projectForm.controls['name'].touched)">
                                    <small *ngIf="projectForm.controls['name'].errors.required" class="form-text text-danger">Name is required.</small>
                                    <small *ngIf="projectForm.controls['name'].errors.minlength" class="form-text text-danger">Name must be 3 characters long.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputStartDate">Start Date</label>
                                <input [formControl]="projectForm.controls['startDate']" name="startDate" type="text" class="form-control" id="inputStartDate" placeholder="yyyy-MM-dd HH:mm"
                                       (keyup)="checkStartDate(projectForm.controls['startDate'].value)">
                                <div *ngIf="projectForm.controls['startDate'].errors && (projectForm.controls['startDate'].dirty || projectForm.controls['startDate'].touched)">
                                    <small *ngIf="projectForm.controls['startDate'].errors.required" class="form-text text-danger">Start Date is required.</small>
                                </div>
                                <small *ngIf="startDateError && (projectForm.controls['startDate'].dirty || projectForm.controls['startDate'].touched)" class="form-text text-danger">Enter Valid Date.</small>
                            </div>
                            <div class="form-group">
                                <label for="inputEndDate">End Date</label>
                                <input [formControl]="projectForm.controls['endDate']" name="endDate" type="text" class="form-control" id="inputEndDate" placeholder="yyyy-MM-dd HH:mm"
                                       (keyup)="checkEndDate(projectForm.controls['endDate'].value)">
                                <div *ngIf="projectForm.controls['endDate'].errors && (projectForm.controls['endDate'].dirty || projectForm.controls['endDate'].touched)">
                                    <small *ngIf="projectForm.controls['endDate'].errors.required" class="form-text text-danger">End Date is required.</small>
                                </div>
                                <small *ngIf="endDateError && (projectForm.controls['endDate'].dirty || projectForm.controls['endDate'].touched)" class="form-text text-danger">Enter Valid Date.</small>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus">Status</label>
                                <input disabled [formControl]="projectForm.controls['status']" name="status" type="text" class="form-control" id="inputStatus" placeholder="Status">
                                <div *ngIf="projectForm.controls['status'].errors && (projectForm.controls['status'].dirty || projectForm.controls['status'].touched)">
                                    <small *ngIf="projectForm.controls['status'].errors.required" class="form-text text-danger">Status is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button *ngIf="projectForm.controls['id'].value == -1" [disabled]="!projectForm.valid || startDateError || endDateError" type="submit" class="btn btn-primary float-right">Create</button>
                            <button *ngIf="projectForm.controls['id'].value != -1" [disabled]="!projectForm.valid || startDateError || endDateError" type="submit" class="btn btn-primary float-right">Edit</button>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
<button (click)="newProject()" class="btn btn-info mb-2">New</button>
<table class="table" *ngIf="projects">
    <thead>
        <tr>
            <th *ngFor="let projectKey of projects | key">{{projectKey.formatted}}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="pointer_cursor hover_bg" *ngFor="let project of projects" (click)="editProject(project)" [ngClass]="{'table-danger':project.id == projectForm.controls['id'].value}">
            <td *ngFor="let projectKey of projects | key" [ngSwitch]="projectKey.key">
                <span *ngSwitchCase="'startDate'">
                    {{project[projectKey.key] | date:'yyyy-MM-dd HH:mm'}}
                </span>
                <span *ngSwitchCase="'endDate'">
                    {{project[projectKey.key] | date:'yyyy-MM-dd HH:mm'}}
                </span>
                <span *ngSwitchCase="'status'">
                    {{project[projectKey.key] | uppercase}}
                </span>
                <span *ngSwitchDefault>
                    {{project[projectKey.key]}}
                </span>
            </td>
        </tr>
    </tbody>
</table>
