<div class="text-center ">
    <h1>{{title}}</h1>
    <div class="my-5">
        <a [routerLink]="['/employees']" class="btn btn-lg btn-outline-primary">Employees</a>
        <a [routerLink]="['/projects']" class="btn btn-lg btn-outline-primary">Projects</a>
    </div>
</div>
